<div class="container">
    <div class="comment">
      <div style="margin: 1rem 0;" *ngFor="let data of commentList">
      <div class="comment-box">
        <div class="rating">
              <img alt="plus icon" src="../assets/images/icon-plus.svg">
              <span class="rate-count">{{data.score}}</span>
              <img alt="plus icon" src="../assets/images/icon-minus.svg">
        </div>

        <div class="detail">
          <div class="profile">
            <div class="user-detail">
              <img class="img-profile" alt="profile pic" src="{{data.image}}">
              <div class="space">
                <span class="name">{{data.username}}</span>
                <small class="space date-posted">{{data.createdAt}}</small>
              </div>
          </div>
            <div>
                <img alt="reply" src="../assets/images/icon-reply.svg" class="reply-icon">
                <span class="reply-action">Reply</span>
            </div>
        </div>
         <div class="space text-comment">
          <span class="reply-text">
            {{data.content}}
          </span>
        </div>
      </div>
    </div>
    <div class="comment-reply" *ngIf="data.replies.length > 0">
        <div class="comment-box sub-reply" *ngFor="let reply of data.replies">
            <div class="rating">
              <img alt="plus icon" src="../assets/images/icon-plus.svg">
              <span class="rate-count">{{data.score}}</span>
              <img alt="plus icon" src="../assets/images/icon-minus.svg">
            </div>

            <div class="detail" >
                <div class="profile">
                  <div class="user-detail">
                    <img class="img-profile" alt="profile pic" src="{{reply.image}}">
                    <div class="space">
                      <span class="name">{{reply.username}}</span>
                      <small class="space date-posted">{{reply.createdAt}}</small>
                    </div>
                </div>
                <div>
                    <img alt="reply" src="../assets/images/icon-reply.svg" class="reply-icon">
                    <span class="reply-action">Reply</span>
                </div>
                </div>
                <div class="space text-comment">
                  <span class="reply-text">
                    {{reply.content}}
                  </span>
                </div>
            </div>
        </div>
    </div>

    <div class="new-reply">
          <div class="profile-pic">
              <img class="pic" alt="profile pic" src="../assets/images/avatars/image-amyrobson.png">
                  <textarea class="description"></textarea>
          </div>
          <div class="submit-button">
              <button class="send">Send</button>
          </div>
    </div>

  </div>
</div>
</div>